.bt-battle-field__wrapper {
  padding: 20px 0;
  text-align: center;
}

.bt-battle-field__content {
  display: inline-block;
  background-color: #F7F7F7;
  border-radius: 10px;
  box-shadow: inset 0 0 25px rgba(0,0,0,.5);
}

.bt-battle-field__row {
  display: flex;
}

.bt-battle-field__cell {
  flex-shrink: 0;
  position: relative;
  width: 23px;
  height: 23px;
}

.bt-battle-field__cell-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bt-battle-field__cell-content_tank {
  background: url(./../../../media/images/tanks.png) 4% 5% / 316%;
}
.bt-battle-field__cell-content_tank-0 {
  background-position: 4% 5%;
}
.bt-battle-field__cell-content_tank-1 {
  background-position: -52% 5%;
}
.bt-battle-field__cell-content_tank-2 {
  background-position: 51% 5%;
}
.bt-battle-field__cell-content_tank-3 {
  background-position: 5% 46%;
}
.bt-battle-field__cell-content_tank-4 {
  background-position: 50% 46%;
}
.bt-battle-field__cell-content_tank-5 {
  background-position: -51% 46%;
}
.bt-battle-field__cell-content_tank-6 {
  background-position: 4% -50%;
  background-size: 288%;
}
.bt-battle-field__cell-content_tank-7 {
  background-position: 50% -50%;
  background-size: 288%;
}
.bt-battle-field__cell-content_tank-8 {
  background-position: -54% -50%;
  background-size: 288%;
}

.bt-battle-field__cell-content_bullet {
  background: url(https://d30y9cdsu7xlg0.cloudfront.net/png/124582-200.png) no-repeat center / 55%;
}

.bt-battle-field__cell-content_deth {
  background-color: rgba(255,0,0,.3);
}