.bt-input-option {
  display: flex;
  align-items: center;
  padding: 15px;
  font-size: 20px;
}

.bt-input-option__title {
  width: 70%;
  margin-right: 15px;
}

.bt-input-option__input {
  flex-grow: 1;
  padding: 2.5px 5px;
  outline: none;
}