
.scoreboard {
    display: block;
    color: white;
    position: absolute;
    top: 150px;
    left: 50px;
    font-family: 'Courier New', Courier, monospace;
    z-index: 100;
    font-size: 14px;
    max-width: 70%;
    text-align: center;
    border-collapse: collapse;
    border-top: 7px solid #9baff1;
    border-bottom: 7px solid #9baff1;
  }
  
  .scoreboard th {
    font-size: 13px;
    font-weight: normal;
    background: #e8edff;
    border-right: 1px solid #9baff1;
    border-left: 1px solid #9baff1;
    color: #039;
    padding: 8px;
  }
  
  .scoreboard td {
    background: #e8edff;
    border-right: 1px solid #aabcfe;
    border-left: 1px solid #aabcfe;
    color: #669;
    padding: 8px;
  }