@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

html, body {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
  background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url(http://backgroundcheckall.com/wp-content/uploads/2017/12/battlefield-background-5.jpg) center / cover;
}

#root {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-style: normal;
}